.projects{
    width: 80%;
    background-color: beige;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}
.projects h2{
    margin: 10px;
    padding: 10px;
}
.projects h3{
    margin: 10px;
    padding: 10px;
}
.projects p{
    margin: 10px;
    padding: 10px;
}
.projects .description{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}